<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dwav">
<!-- aliasing 맵핑 -->
<!-- 	<resultMap type="UserVO" id="UserVOResultMap"> -->
<!-- 		<id property="userid" column="myId" javaType="String" jdbcType="VARCHAR"/> -->
<!-- 		<result property="name" column="myName" javaType="String" jdbcType="VARCHAR" /> -->
<!-- 		<result property="gender" column="myGender" javaType="String" jdbcType="VARCHAR" /> -->
<!-- 		<result property="city" column="myCity" javaType="String" jdbcType="VARCHAR" /> -->
<!-- 	</resultMap> -->
<!-- 	<select id="getUser" parameterType="String" resultMap="UserVOResultMap"> -->
<!-- 		select userid myId, name myName, gender myGender, city myCity from users where userid=#{value} -->
<!-- 	</select> -->
	<select id="getImageListByAccomId" resultType="ImageVO">
		select * from image where accom_id=#{value}
	</select>
	<insert id="insertImage" parameterType="ImageVO">
		INSERT INTO image (
			image_id,
			accom_id,
			path
		) VALUES (
			#{image_id},
			#{accom_id},
			#{path    }
		)
	</insert>
	<delete id="deleteImageByImageId" parameterType="ImageVO">
		delete from image where image_id = #{image_id} 
	</delete>
</mapper>
